
  <!DOCTYPE html>
  <html lang="en">
  <head>
     <%- include('../viewsEjs/partials/head'); %>
  </head>
  <body class="container">
  
  <header>
    <%- include('../viewsEjs/partials/header'); %>
  </header>
  
  <main>
      <div class="jumbotron">
            <h2> <u>Se ha detectado un error</u> </h2>
            <p></p>
            <h3>
                <%- html %>
            </h3>
            <p></p>
            <p>Por favor volver a la p&aacute;gina de Inicio</p>
      </div>
  </main>
  
  <footer>
    <%- include('../viewsEjs/partials/footer'); %>
  </footer>
  
  </body>
  </html>



